<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <h1 style="color:<%= @category.color;%>"><%= @category.name %></h1>
</p>
<% @category.articles.each  do |a| %>
<h1><%= link_to a.title,a %>
</h1>
<div> <%= a.body %>-><%= link_to  "Eliminar", a, method: :delete %>
</div>
<% end %>
<p>
  <strong>Color:</strong>
  <%= @category.color %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
